In [3]:
import pandas as pd

In [5]:
#Loading the csv file and creating a data frame
data = pd.read_csv('/home/dell/Téléchargements/Data/jnotebook/Ecommerce Purchases')

In [7]:
#Show the first rows of the data
data.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [9]:
#Checking the data types
data.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

In [9]:
#Checking null values in the data set 
data.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

In [11]:
#Showing the columns to check the syntax (the result is a python list)
data.columns
#How many columns there is
len(data.columns)

14

In [13]:
#Showing rows and how many there are
data
len(data)

10000

In [15]:
#Or more generally speaking, to get both and more
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [19]:
#Finding highest purchased price
data['Purchase Price'].max()

99.99

In [21]:
#Finding lowest purchased price
data['Purchase Price'].min()

0.0

In [23]:
#Finding average purchased price
data['Purchase Price'].mean()

50.347302

In [43]:
#How many people have 'fr' as their language ('fr' meaning french)
len(data[data['Language'] == 'fr'])

1097

In [27]:
#Here is another way of doing the same thing, using the count method
data[data['Language'] == 'fr'].count()

Address             1097
Lot                 1097
AM or PM            1097
Browser Info        1097
Company             1097
Credit Card         1097
CC Exp Date         1097
CC Security Code    1097
CC Provider         1097
Email               1097
Job                 1097
IP Address          1097
Language            1097
Purchase Price      1097
dtype: int64

In [31]:
#Checking job titles syntax
data['Job']

0       Scientist, product/process development
1                            Drilling engineer
2                     Customer service manager
3                            Drilling engineer
4                                  Fine artist
                         ...
9995                                Printmaker
9996                           Energy engineer
9997                        Veterinary surgeon
9998                  Local government officer
9999                    Embryologist, clinical
Name: Job, Length: 10000, dtype: object

In [45]:
#Finding how many people have Engineer in their job titles while making it case insensitive
len(data[data['Job'].str.contains('engineer', case=False)])

984

In [55]:
#Finding the Email of the person with the following IP address 132.207.160.22 
data[data['IP Address'] == "132.207.160.22"]['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

In [67]:
#How Many people have Mastercard as their credit card provider and made a purchase above 50
len(data[(data['CC Provider'] == 'Mastercard' ) & (data['Purchase Price'] > 50)])

405

In [75]:
#Finding Email of the person with the following credit card number 4664825258997302
data[data['Credit Card'] == 4664825258997302]['Email']

9992    bberry@wright.net
Name: Email, dtype: object

In [11]:
#How many people purchase during the am and during the pm?
data['AM or PM'].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

In [45]:
#How many people have a credit card that expires in 2020?

In [35]:
#Methode 1: making our own regular function
def expires():
    i = 0
    for date in data['CC Exp Date']:
        if date.split('/')[1] == '20':
            i = i+1
    print('The number of people that have a credit card that expires in 2020 is:', i)  
#note: split('/')[1] because after we split based on the slash [0] is the month (first part) and [1] is the year (the second part)

In [37]:
#then call the function
expires()

The number of people that have a credit card that expires in 2020 is: 988

In [39]:
#Methode 2: lambda function
len(data[data['CC Exp Date'].apply(lambda x:x[3:] == '20')])
#note: x[3:] because if the date is 13/20 the x[0]=1, x[1]=3, x[2]=/ and so on.. so x[3:] would be 20 here

988

In [55]:
#Finding the top 5 most popular email providers (e.g. gmail.com, ect...)
data['Email'].apply(lambda x:x.split('@')[1]).value_counts().head()

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64